<div class="grid grid-cols-[1fr_2fr] grid-rows-[1fr] h-full">
  <section>
    <shop-header [header]="'h2'" [title]="'Product Details'"></shop-header>
  </section>
  @if (product$ | async; as product) {
  <section>
    <img [src]="product.image" [alt]="product.title" />
    <shop-header [header]="'h2'" [title]="product.title"></shop-header>
    <shop-currency> {{ product.price }} </shop-currency>
    <p>
      {{ product.description }}
    </p>
    <shop-rating
      [count]="product.rating.count"
      [rating]="product.rating.rate"
    ></shop-rating>
    <button (click)="onClick()">Add comment</button>
  </section>
  }
</div>
